# http://editorconfig.org

root = true

# 对所有文件生效
[*]
charset = utf-8
end_of_line = lf

# 对后缀名为 rst 的文件生效
[*.{md,rst}]
indent_style = space
indent_size = 4
#end_of_line = lf
insert_final_newline = true
#trim_trailing_whitespace = false
max_line_length = 80